/* Shrikhand */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* ROBOTO  */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
header {
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  background-color: #353535;
}
footer h4 {
  font-family: "Shrikhand", cursive;
  color: white;
  text-decoration: none;
  padding-left: 40px;
  margin-bottom: 1em;
}
footer li {
  padding-bottom: 7px;
}
footer i {
  width: 1em;
  padding-right: 12px;
  font-size: x-small;
}
footer a {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
}

body {
  width: 100%;
  margin: auto;
}

#page {
  /* ROBOTO  */
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: center;
}

#localize {
  display: flex;
  justify-content: center;
  box-shadow: inset 0px 5px 7px -7px black;
  background-color: #eaeaea;
}
#localize i {
  padding-right: 1em;
}
#localize h2 {
  font-size: 1em;
  color: #4d4d4d;
}

#info {
  background-color: #f6f6f6;
  text-align: center;
  padding-bottom: 15%;
  padding-top: 5%;
}
#info h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: auto;
  padding-bottom: 1em;
}
#info p {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 10%;
  color: #808080;
  width: 80%;
  margin: auto;
}
#info h4 {
  padding-bottom: 3em;
  color: #5d5d5d;
  width: 70%;
  margin: auto;
}
#info a {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 1px 2px 7px 1px #e6e6e6;
  color: white;
  text-align: center;
  text-decoration: none;
}
#info a:hover {
  background: linear-gradient(rgba(239, 118, 218, 0.75), rgba(164, 92, 219, 0.75));
  box-shadow: 1px 2px 7px 1px #797979;
}

#fonctionnement {
  width: 100%;
}
#fonctionnement h3 {
  padding-left: 1em;
}
#fonctionnement ul {
  flex-direction: column;
  margin: 1%;
  width: 100%;
  position: relative;
  left: -47px;
}
#fonctionnement li {
  display: flex;
  justify-content: space-evenly;
  margin: 6%;
}
#fonctionnement .badge {
  width: 2%;
  border-radius: 50%;
  padding: 2.5px 9px;
  background: #9356DC;
  height: 2%;
  justify-content: center;
  color: #fff;
  margin: auto;
  margin-right: -1em;
  position: relative;
}
#fonctionnement a {
  text-align: justify;
  text-decoration: none;
  color: #808080;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #f6f6f6;
  border-radius: 15px;
  box-shadow: 1px 2px 7px 1px #e6e6e6;
  width: 94%;
}
#fonctionnement span {
  color: black;
}
#fonctionnement a:hover, #fonctionnement .fas:hover {
  color: #9356DC;
  background-color: #f5edff;
  text-decoration: none;
}
#fonctionnement i {
  padding-right: 5%;
  padding-left: 10%;
}

#restaurants {
  padding-top: 1em;
  background-color: #f6f6f6;
}
#restaurants h3 {
  padding-left: 1em;
}
#restaurants .restaurants__cards {
  padding-bottom: 10%;
}
#restaurants .restaurants__cards .card {
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
  border-radius: 25px 25px 25px 25px;
  margin-bottom: 7%;
  box-shadow: 1px 2px 15px 3px #9c9c9c47;
}
#restaurants .restaurants__cards .card__lien {
  text-decoration: none;
}
#restaurants .restaurants__cards .card__tag {
  position: absolute;
  right: 9%;
  margin-top: 10px;
  padding-left: 7px;
  padding-right: 7px;
  color: #1b9677;
  background-color: #99E2D0;
  border-radius: 2px;
}
#restaurants .restaurants__cards .card__img {
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 12em;
  object-fit: cover;
  -moz-object-fit: cover;
}
#restaurants .restaurants__cards .card__text {
  padding-left: 5%;
  padding-top: 2%;
}
#restaurants .restaurants__cards .card__title {
  text-decoration: none;
  color: #101010;
  display: block;
  padding-bottom: 2%;
  width: 70%;
  font-weight: bolder;
}
#restaurants .restaurants__cards .card__description {
  color: #595959;
}
#restaurants .restaurants__cards .card__heartfar, #restaurants .restaurants__cards .card .fas {
  cursor: pointer;
  position: absolute;
  right: 9%;
  margin-top: -40px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 25px;
  color: #6a6a6a;
  background-color: transparent;
  transition: all 0.3s ease;
}
#restaurants .restaurants__cards .card__heartfas {
  opacity: 0;
}
#restaurants .restaurants__cards .card__heartfas:hover {
  background: -webkit-linear-gradient(0deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slide-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-name: fadeInOpacity;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.restaurants__header {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 5px 7px -7px black;
}

article {
  z-index: 1;
  margin-top: 70%;
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
}

.table__img {
  z-index: -1;
  top: 5em;
  position: fixed;
}
.table__img img {
  width: 100%;
}

.table {
  padding-bottom: 12%;
  border-radius: 25px 25px 0 0;
  padding-right: 13px;
}
.table h2 {
  font-family: "Shrikhand", cursive;
  padding-left: 1em;
  padding-top: 5%;
  font-size: 1.2em;
}
.table__heartfar, .table .heartcolour {
  cursor: pointer;
  position: absolute;
  right: 9%;
  margin-top: -55px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 25px;
  color: #6a6a6a;
  background-color: transparent;
  transition: all 0.3s ease;
}
.table__heartfas {
  opacity: 0;
}
.table__heartfas:hover {
  background: -webkit-linear-gradient(0deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slide-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-name: fadeInOpacity;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.table .entrees__list, .table .plats__list, .table .desserts__list {
  box-shadow: 1px 2px 7px 1px #b1b1b1;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  margin-left: -4%;
  margin-right: 1.5em;
  margin-bottom: 1em;
  height: 4em;
  background-color: white;
  width: 100%;
  cursor: pointer;
}
.table span.table__titlemenu {
  padding-left: 1em;
  padding-bottom: 12%;
}
.table span.table__titlemenu::after {
  content: "";
  display: block;
  width: 36px;
  padding-top: 3px;
  border-bottom: 3px solid #99E2D0;
  position: relative;
  left: 16px;
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 65%;
  height: 4em;
  margin-top: 8px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .table h3 {
    font-size: 1.6em;
  }

  .entrees__ul, .plats__ul, .desserts__ul {
    padding-left: 9%;
    padding-top: 2%;
    padding-bottom: 1%;
  }

  .table .entrees__list, .table .plats__list, .table .desserts__list {
    margin-bottom: 1.3em;
  }

  article {
    z-index: 1;
    margin-top: 70%;
    background-color: #f6f6f6;
    border-radius: 25px 25px 0 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .table__heartfar, .table .heartcolour {
    right: 13%;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: xxx-large;
  }

  #localize h2 {
    font-size: 1.5em;
  }

  #info {
    padding-bottom: 10%;
    padding-top: 7%;
  }
  #info h3 {
    font-size: 1.5em;
  }
  #info h4 {
    font-size: 1.2em;
  }
  #info a {
    font-size: 1.2em;
  }

  #fonctionnement h3 {
    font-size: 1.6em;
  }

  #fonctionnement ul {
    left: -90px;
    margin-left: 15%;
    margin-right: 15%;
    width: auto;
  }

  #fonctionnement a {
    text-align: justify;
    text-decoration: none;
    color: #808080;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  #fonctionnement .badge {
    width: 1%;
    border-radius: 50%;
    padding: 3.5px 7px;
    background: #9356dc;
    height: 2%;
    justify-content: center;
    color: #fff;
    margin: auto;
    margin-right: -9px;
    position: relative;
    font-size: 15px;
  }

  #fonctionnement li {
    margin: 3%;
  }

  #restaurants h2 {
    font-size: 1.6em;
  }

  #restaurants .restaurants__cards .card {
    width: 50%;
    margin: auto;
    padding-bottom: 2%;
    border-radius: 25px 25px 25px 25px;
    margin-bottom: 7%;
    box-shadow: 1px 2px 15px 3px #9c9c9c47;
  }

  #restaurants .restaurants__cards .card__tag {
    position: absolute;
    right: 27%;
    margin-top: 30px;
    padding-left: 7px;
    padding-right: 7px;
    color: #1b9677;
    background-color: #99E2D0;
    border-radius: 2px;
  }

  #restaurants .restaurants__cards .card__heartfar, #restaurants .restaurants__cards .card .fas {
    cursor: pointer;
    position: absolute;
    right: 27%;
    margin-top: -40px;
    padding-left: 7px;
    padding-right: 7px;
    color: #6a6a6a;
    background-color: transparent;
    transition: all 0.3s ease;
    font-size: xx-large;
  }

  #restaurants .restaurants__cards .card__title {
    text-decoration: none;
    color: #101010;
    display: block;
    padding-bottom: 2%;
    width: 70%;
    font-weight: bolder;
    font-size: larger;
  }

  #restaurants .restaurants__cards {
    padding-bottom: 5%;
  }

  .table h3 {
    font-size: 2em;
  }

  .entrees__ul, .plats__ul, .desserts__ul {
    padding-left: 9%;
    padding-top: 2%;
    padding-bottom: 1%;
  }

  .table .entrees__list, .table .plats__list, .table .desserts__list {
    margin-bottom: 1.3em;
    height: 5em;
  }

  article {
    margin-top: 25%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .table__heartfar, .table .heartcolour {
    right: 13%;
    font-size: 2.5em;
    margin-top: -68px;
  }

  .table span.table__titlemenu {
    font-size: 1.3em;
  }

  .table span.table__titlemenu::after {
    width: 45px;
    left: 20px;
  }

  .entrees__spanok, .plats__spanok, .desserts__spanok {
    height: 5em !important;
  }

  .entrees__list:hover .entrees__spanok .plats__list:hover .plats__spanok .desserts__list:hover .desserts__spanok, i.fas.check {
    font-size: 2.2em !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .table h3 {
    font-size: 1.6em;
  }

  .entrees__ul, .plats__ul, .desserts__ul {
    padding-left: 9%;
    padding-top: 2%;
    padding-bottom: 1%;
  }

  .table .entrees__list, .table .plats__list, .table .desserts__list {
    margin-bottom: 1.3em;
  }
}
.fa-arrow-left {
  cursor: pointer;
  position: absolute;
  left: 3%;
  margin-top: 35px;
  font-size: 20px;
  color: #6a6a6a;
}

.table a {
  display: block;
  width: 23%;
  margin: auto;
  margin-top: 12%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 1px 2px 7px 1px #e6e6e6;
  color: white;
  text-align: center;
  text-decoration: none;
}
.table a:hover {
  background: linear-gradient(rgba(239, 118, 218, 0.75), rgba(164, 92, 219, 0.75));
  box-shadow: 1px 2px 7px 1px #797979;
}

i.fas.check {
  opacity: 0;
  color: white;
  margin: auto;
  transform: rotate(0deg);
  transition: all 0.9s ease-in-out;
  font-size: 1.5em;
}

.desserts__textflex {
  width: 100%;
  display: block;
  margin: auto;
  height: 4em;
  overflow: hidden;
  padding-left: 10px;
}

span.desserts__spantitle {
  display: block;
}

span.desserts__spandescription {
  width: 100%;
  margin-top: 8px;
  display: block;
  color: #595959;
}

span.desserts__spanprice {
  height: 100%;
  float: right;
  padding-right: 2%;
  display: block;
  margin-top: -32px;
  margin-right: 8px;
}

.desserts__spanok {
  display: flex;
  height: 4em;
  transition: width 1s ease-in-out;
  width: 0px;
  background-color: #99E2D0;
  border-radius: 0px 12px 12px 0;
}

.desserts__list:hover .desserts__spanok {
  width: 18%;
  background-color: #99E2D0;
  border-radius: 0px 12px 12px 0;
  color: white;
}
.desserts__list:hover .desserts__spanok i.fas.check {
  opacity: 1;
  transform: rotate(-360deg);
  transition: all 0.9s ease-in-out;
}

.desserts__list:hover .desserts__spandescription {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.desserts__list:hover .desserts__spantitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.entrees__textflex {
  width: 100%;
  display: block;
  margin: auto;
  height: 4em;
  overflow: hidden;
  padding-left: 10px;
}

span.entrees__spantitle {
  display: block;
}

span.entrees__spandescription {
  width: 100%;
  margin-top: 8px;
  display: block;
  color: #595959;
}

span.entrees__spanprice {
  height: 100%;
  float: right;
  padding-right: 2%;
  display: block;
  margin-top: -32px;
  margin-right: 8px;
}

.entrees__spanok {
  display: flex;
  height: 4em;
  transition: width 1s ease-in-out;
  width: 0px;
  background-color: #99E2D0;
  border-radius: 0px 12px 12px 0;
}

.entrees__list:hover .entrees__spanok {
  width: 18%;
  background-color: #99E2D0;
  border-radius: 0px 12px 12px 0;
  color: white;
}
.entrees__list:hover .entrees__spanok i.fas.check {
  opacity: 1;
  transform: rotate(-360deg);
  transition: all 0.9s ease-in-out;
}

.entrees__list:hover .entrees__spandescription {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.entrees__list:hover .entrees__spantitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.plats__textflex {
  width: 100%;
  display: block;
  margin: auto;
  height: 4em;
  overflow: hidden;
  padding-left: 10px;
}

span.plats__spantitle {
  display: block;
}

span.plats__spandescription {
  width: 100%;
  margin-top: 8px;
  display: block;
  color: #595959;
}

span.plats__spanprice {
  height: 100%;
  float: right;
  padding-right: 2%;
  display: block;
  margin-top: -32px;
  margin-right: 8px;
}

.plats__spanok {
  display: flex;
  height: 4em;
  transition: width 1s ease-in-out;
  width: 0px;
  background-color: #99E2D0;
  border-radius: 0px 12px 12px 0;
}

.plats__list:hover .plats__spanok {
  width: 18%;
  background-color: #99E2D0;
  border-radius: 0px 12px 12px 0;
  color: white;
}
.plats__list:hover .plats__spanok i.fas.check {
  opacity: 1;
  transform: rotate(-360deg);
  transition: all 0.9s ease-in-out;
}

.plats__list:hover .plats__spandescription {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.plats__list:hover .plats__spantitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.spin-container {
  text-align: center;
  padding-top: 300px;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #fff;
  animation: hidebackground 3s forwards;
}
@keyframes hidebackground {
  0% {
    z-index: 100;
  }
  99% {
    z-index: 100;
  }
  100% {
    z-index: -12;
    visibility: hidden;
  }
}
.spin-container .spin {
  border: 3px solid #FF79DA;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29);
}
@keyframes rotate {
  from {
    transform: rotateZ(-360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
.spin-container #loader {
  border: 3px solid #FF79DA;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 3s cubic-bezier(0.26, 1.36, 0.74, -0.29);
}
@keyframes rotate {
  from {
    transform: rotateZ(-360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
.spin-container #loader2 {
  border: 3px solid #9356DC;
  width: 220px;
  height: 220px;
  position: relative;
  top: -216px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 3s cubic-bezier(0.26, 1.36, 0.74, -0.29);
}
@keyframes rotate2 {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
.spin-container #loader3 {
  border: 3px solid #99E2D0;
  width: 240px;
  height: 240px;
  position: relative;
  top: -452px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 3s cubic-bezier(0.26, 1.36, 0.74, -0.29);
}
@keyframes rotate {
  from {
    transform: rotateZ(-360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
.spin-container #loader4 {
  border: 3px solid #FF79DA;
  width: 260px;
  height: 260px;
  position: relative;
  top: -708px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 3s cubic-bezier(0.26, 1.36, 0.74, -0.29);
}
@keyframes rotate2 {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
.spin-container #text {
  /* Shrikhand */
  font-family: "Shrikhand", cursive;
  color: #000;
  font-size: 2em;
  position: relative;
  top: -857px;
}

.fondu--1 {
  animation: fondu 1s;
}

.fondu--2 {
  animation: fondu 2s;
}

.fondu--3 {
  animation: fondu 3s;
}

.fondu--4 {
  animation: fondu 4s;
}

.fondu--5 {
  animation: fondu 5s;
}

.fondu--6 {
  animation: fondu 6s;
}

.fondu--7 {
  animation: fondu 7s;
}

.fondu--8 {
  animation: fondu 8s;
}

.fondu--9 {
  animation: fondu 9s;
}

.fondu--10 {
  animation: fondu 10s;
}

@keyframes fondu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
