/* Shrikhand */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap')

/* ROBOTO  */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

@mixin flexcenter
    display: flex
    justify-content: center

$localizeBackColor: #eaeaea
$infoBackColor: #f6f6f6

header, footer > h4
    /* Shrikhand */
    font-family: 'Shrikhand', cursive
    @include flexcenter

#page
    /* ROBOTO  */
    font-family: 'Roboto', sans-serif
    margin: auto

ul
    list-style: none

header
    @include flexcenter

#localize
    @include flexcenter
    background-color: $localizeBackColor

#info
    background-color: $infoBackColor
    text-align: center
    h3
        @include flexcenter
        text-align: center
    p
        @include flexcenter
        text-align: center

footer
    display: flex
    flex-direction: column
    margin: auto
    width: 100%
    background-color: #353535
    h4, a
        color: white
        text-decoration: none
