@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* ROBOTO  */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
header {
  /* Shrikhand */
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  background-color: #353535;
}
footer h4 {
  font-family: "Shrikhand", cursive;
  color: white;
  text-decoration: none;
  padding-left: 40px;
  margin-bottom: 1em;
}
footer li {
  padding-bottom: 7px;
}
footer i {
  width: 1em;
  padding-right: 12px;
  font-size: x-small;
}
footer a {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
}

body {
  width: 100%;
  margin: auto;
}

#page {
  /* ROBOTO  */
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: center;
}

#localize {
  display: flex;
  justify-content: center;
  box-shadow: inset 0px 5px 7px -7px black;
  background-color: #eaeaea;
}
#localize i {
  padding-right: 1em;
}
#localize h2 {
  font-size: 1em;
  color: #4d4d4d;
}

#info {
  background-color: #f6f6f6;
  text-align: center;
  padding-bottom: 15%;
  padding-top: 5%;
}
#info h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: auto;
  padding-bottom: 1em;
}
#info p {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 10%;
  color: #808080;
  width: 80%;
  margin: auto;
}
#info h4 {
  padding-bottom: 3em;
  color: #5d5d5d;
  width: 70%;
  margin: auto;
}
#info a {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25px;
  background: linear-gradient(#ef76da, #a45cdb);
  box-shadow: 1px 2px 7px 1px #e6e6e6;
  color: white;
  text-align: center;
  text-decoration: none;
}
#info a:hover {
  background: linear-gradient(rgba(239, 118, 218, 0.75), rgba(164, 92, 219, 0.75));
  box-shadow: 1px 2px 7px 1px #797979;
}

#fonctionnement {
  width: 100%;
}
#fonctionnement h3 {
  padding-left: 1em;
}
#fonctionnement ul {
  flex-direction: column;
  margin: 1%;
  width: 100%;
  position: relative;
  left: -47px;
}
#fonctionnement li {
  display: flex;
  justify-content: space-evenly;
  margin: 6%;
}
#fonctionnement .badge {
  width: 2%;
  border-radius: 50%;
  padding: 2.5px 9px;
  background: #9356dc;
  height: 2%;
  justify-content: center;
  color: #fff;
  margin: auto;
  margin-right: -1em;
  position: relative;
}
#fonctionnement a {
  text-align: justify;
  text-decoration: none;
  color: #808080;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #f6f6f6;
  border-radius: 15px;
  box-shadow: 1px 2px 7px 1px #e6e6e6;
  width: 94%;
}
#fonctionnement span {
  color: black;
}
#fonctionnement a:hover, #fonctionnement .fas:hover {
  color: #9457dc;
  background-color: #f5edff;
  text-decoration: none;
}
#fonctionnement i {
  padding-right: 5%;
  padding-left: 10%;
}

#restaurants {
  padding-top: 1em;
  background-color: #f6f6f6;
}
#restaurants h3 {
  padding-left: 1em;
}
#restaurants .restaurants__cards {
  padding-bottom: 10%;
}
#restaurants .restaurants__cards .card {
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
  border-radius: 25px 25px 25px 25px;
  margin-bottom: 7%;
  box-shadow: 1px 2px 15px 3px #9c9c9c47;
}
#restaurants .restaurants__cards .card__lien {
  text-decoration: none;
}
#restaurants .restaurants__cards .card__tag {
  position: absolute;
  right: 9%;
  margin-top: 10px;
  padding-left: 7px;
  padding-right: 7px;
  color: #1b9677;
  background-color: #99e2d0;
  border-radius: 2px;
}
#restaurants .restaurants__cards .card__img {
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 12em;
  object-fit: cover;
  -moz-object-fit: cover;
}
#restaurants .restaurants__cards .card__text {
  padding-left: 5%;
  padding-top: 2%;
}
#restaurants .restaurants__cards .card__title {
  text-decoration: none;
  color: #101010;
  display: block;
  padding-bottom: 2%;
  width: 70%;
  font-weight: bolder;
}
#restaurants .restaurants__cards .card__description {
  color: #595959;
}
#restaurants .restaurants__cards .card__heartfar, #restaurants .restaurants__cards .card .fas {
  cursor: pointer;
  position: absolute;
  right: 9%;
  margin-top: -40px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 25px;
  color: #6a6a6a;
  background-color: transparent;
  transition: all 0.3s ease;
}
#restaurants .restaurants__cards .card__heartfas {
  opacity: 0;
}
#restaurants .restaurants__cards .card__heartfas:hover {
  background: -webkit-linear-gradient(0deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slide-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-name: fadeInOpacity;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.restaurants__header {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 5px 7px -7px black;
}

article {
  z-index: 1;
  margin-top: 70%;
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
}

.table__img {
  z-index: -1;
  top: 5em;
  position: fixed;
}
.table__img img {
  width: 100%;
}

.table {
  padding-bottom: 12%;
  border-radius: 25px 25px 0 0;
}
.table h3 {
  font-family: "Shrikhand", cursive;
  padding-left: 1em;
  padding-top: 5%;
  font-size: 1.6em;
}
.table__heartfar, .table .heartcolour {
  cursor: pointer;
  position: absolute;
  right: 9%;
  margin-top: -55px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 25px;
  color: #6a6a6a;
  background-color: transparent;
  transition: all 0.3s ease;
}
.table__heartfas {
  opacity: 0;
}
.table__heartfas:hover {
  background: -webkit-linear-gradient(0deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slide-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-name: fadeInOpacity;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.table .entrees__list, .table .plats__list, .table .desserts__list {
  box-shadow: 1px 2px 7px 1px #b1b1b1;
  display: block;
  justify-content: center;
  border-radius: 15px;
  margin-left: -4%;
  margin-right: 1.5em;
  margin-bottom: 1em;
  height: 4em;
  background-color: white;
  width: 100%;
}
.table span.table__titlemenu {
  padding-left: 1em;
  padding-bottom: 12%;
}
.table span.table__titlemenu::after {
  content: "";
  display: block;
  width: 36px;
  padding-top: 3px;
  border-bottom: 3px solid #99e2d0;
  position: relative;
  left: 16px;
}

.entrees__textflex {
  width: 98%;
  margin: auto;
  height: 4em;
}

span.entrees__spantitle {
  display: flex;
  margin-bottom: 10px;
  padding-top: 1.5%;
}

span.entrees__spandescription {
  width: 85%;
}

span.entrees__spanprice {
  float: right;
  padding-right: 2%;
}

.entrees__spanok {
  border: 1px solid black;
  display: block;
  margin-top: -65px;
  height: 4em;
}

.entrees__spanok:hover {
  display: block;
  width: 18%;
  margin-left: 82%;
  background-color: aquamarine;
  z-index: 3;
  border-radius: 0px 12px 12px 0;
  color: white;
}

i.fas.fa-check {
  color: aquamarine;
  border: 3px Solid white;
  border-radius: 12px;
  padding: 2px;
  background-color: white;
}

.fa-arrow-left {
  cursor: pointer;
  position: absolute;
  left: 3%;
  margin-top: 35px;
  font-size: 20px;
  color: #6a6a6a;
}

.table a {
  display: block;
  width: 23%;
  margin: auto;
  margin-top: 12%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 25px;
  background: linear-gradient(#ef76da, #a45cdb);
  box-shadow: 1px 2px 7px 1px #e6e6e6;
  color: white;
  text-align: center;
  text-decoration: none;
}
.table a:hover {
  background: linear-gradient(rgba(239, 118, 218, 0.75), rgba(164, 92, 219, 0.75));
  box-shadow: 1px 2px 7px 1px #797979;
}

/*# sourceMappingURL=main.css.map */
