.restaurants__header
    z-index: 2
    position: fixed
    top: 0
    width: 100%
    background-color: white
    box-shadow: 0px 5px 7px -7px black

article
    z-index: 1
    margin-top: 70%
    background-color: #f6f6f6
    border-radius: 25px 25px 0 0

.table__img
    z-index: -1
    top: 5em
    position: fixed
    img
        width: 100%

.table
    // border: 1px solid black
    padding-bottom: 12%
    border-radius: 25px 25px 0 0
    h3
        font-family: 'Shrikhand', cursive
        padding-left: 1em
        padding-top: 5%
    &__heart
        color: blue
    &__heartfar ,.fas
        cursor: pointer
        position: absolute
        right: 9%
        padding-left: 7px
        padding-right: 7px
        font-size: 25px
        color: #6a6a6a
        background-color: transparent
        transition: all 0.3s ease
        margin-top: -40px
    &__heartfas
        opacity: 0
        &:hover
            background: -webkit-linear-gradient(0deg,#9356dc,#ff79da)
            -webkit-text-fill-color: transparent
            animation: slide-top .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
            animation-name: fadeInOpacity
            @keyframes fadeInOpacity
                0%
                    opacity: 0
                100%
                    opacity: 1
    li
        // border: 1px solid black
        box-shadow: 1px 2px 7px 1px #b1b1b1
        display: flex
        justify-content: center
        border-radius: 15px
        margin-left: -1em
        margin-right: 1.5em
        margin-bottom: 1em
        height: 4em
        background-color: white
    a
        display: block
        width: 23%
        margin: auto
        margin-top: 12%
        padding-top: 15px
        padding-bottom: 15px
        padding-left: 40px
        padding-right: 40px
        border-radius: 25px
        background: linear-gradient(#ef76da, #a45cdb)
        @include box-shadow
        color: white
        text-align: center
        text-decoration: none
    a:hover
        background: linear-gradient(rgb(239 118 218 / 75%), rgb(164 92 219 / 75%))
        box-shadow: 1px 2px 7px 1px #797979
