@mixin flexcenter
    display: flex
    justify-content: center

@mixin box-shadow
    box-shadow: 1px 2px 7px 1px #e6e6e6

@mixin button
    padding-top: 15px
    padding-bottom: 15px
    padding-left: 30px
    padding-right: 30px
    border-radius: 25px
    background: linear-gradient(#ef76da, #a45cdb)
    @include box-shadow
    color: white
    text-align: center
    text-decoration: none

@mixin buttonHover
    background: linear-gradient(rgb(239 118 218 / 75%), rgb(164 92 219 / 75%))
    box-shadow: 1px 2px 7px 1px #797979

@mixin overflow
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

@mixin  spinnerBorderColor
    border-left-color: transparent
    border-right-color: transparent


